<!DOCTYPE html>
<html>
<head>
    <title>Delete Todo Item</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Delete Todo Item</h1>
        <p>Are you sure you want to delete '{{ todo_item.text }}'?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirm Deletion</button>
            <a href="{% url 'todolist' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>
</html>
